.friendList {
  list-style: none; /* прибрати маркери */
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: max-content; /* ширина рівна сумі ширини елементів */
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 70px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.status {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 10px;
}

.online {
  background-color: green;
}

.offline {
  background-color: red;
}

.avatar {
  width: 48px;
  height: 48px;
  border-radius: 8px;
  margin-right: 10px;
}

.name {
  font-weight: 600;
}
